<!doctype html>
<html lang="es">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/videojuegos.css">

<title>Tienda VJ</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/}"> <img
			th:src="@{/img/logo.png}" width="30" height="30" alt="" color="white">
			Tienda VJ
		</a>
		<form th:action="@{/buscar}" class="form-inline my-2 my-lg-0">
			<input autofocus="autofocus" name="q" class="form-control mr-sm-2"
				type="search" th:placeholder="${param.q}" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
		</form>
	</nav>

	<div class="container mt-4 vj-destacados">
		<div class="row">
			<div class="col-md-12 mb-4">
				<h1>Nuevo Videojuego</h1>
				<form method="post" th:action="@{/videojuegos/guardar}" th:object="${videojuego}">
					
					<div class="form-group">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Nombre del videojuego">
					</div>
					<div class="form-group">
						<label for="descripcion">Descripción</label>
						<textarea  class="form-control" th:field="*{descripcion}" id="descripcion" rows="3"></textarea>
					</div>
					<div class="form-group">
						<label for="nombre">URL de la imagen</label>
						<input type="text" class="form-control" th:field="*{imagenUrl}" id="imagenUrl" placeholder="URL de la imagen">
					</div>
					<div class="form-group">
						<label for="distribuidor">Distribuidor</label>
						<select  class="form-control" id="distribuidor" th:field="*{distribuidor}">
						  <option th:each="distribuidor : ${distribuidores}" th:value="${distribuidor.id}" th:text="${distribuidor.nombre}"></option>
						</select>
					</div>
					
					<button type="submit" class="btn btn-primary">Guardar</button>
				</form>
			</div>


		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>